.mytable {
    width: 100%; 
    border-collapse: collapse;
}

.fir_cell {
    border: 1px solid black; 
    height: 100px; 
    width: 50%; 
    background-color: #bdc985; /* สีเขียว */
}

.sec_cell {
    border: 1px solid black; 
    height: 100px; 
    width: 50%; 
    background-color: #f7bca7;
}